.wrapper_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
}

.input_search {
  padding: 10px;
  height: 40px;
}

.wrapper_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
}
.button_logout {
  background-color: red;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.wrapper_search {
  display: flex;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: green;
}

@media screen and (min-width: 768px) {
  .wrapper_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .wrapper_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
